*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.container h2 {
  text-align: center;
}
.container .form-group {
  margin-bottom: 15px;
}
.container .form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}
.container .form-group .required {
  color: red;
}
.container .form-group input {
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.container .form-group .form-check {
  margin-bottom: 10px;
}
.container .form-group .form-check .form-check-input {
  margin-right: 5px;
}
.container p {
  margin: 15px 0;
  font-size: 14px;
}
.container button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.container button:hover {
  background-color: #0056b3;
a,
img,
span,
table,
tbody,
button,
ion-icon {
  display: block;
}

button,
input {
  font: inherit;
  background: none;
  border: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
  line-height: 1.8;
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: hsl(0, 0%, 100%);
  font-size: 1.6rem;
  padding-block-start: 90px;
  height: 300vh;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/* 
* HEADER
*/
#header {
  background: hsl(0, 0%, 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.25s ease;
  z-index: 5;
}
#header.active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
}
#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}
#header .nav-open-btn {
  font-size: 3rem;
  background: hsl(5, 100%, 69%);
  color: hsl(0, 0%, 100%);
  padding: 8px;
}
#header .nav-open-btn:is(:hover, :focus) {
  background: hsl(5, 100%, 73%);
}
#header .nav-open-btn .ion-icon {
  --ionicon-stroke-width: 4rem;
}
#header .nav {
  font-family: "Roboto", sans-serif;
  background: hsl(0, 0%, 100%);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  border-right: 3px solid hsl(200, 12%, 95%);
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
#header .nav.active {
  opacity: 1;
  left: 0;
  visibility: visible;
}
#header .nav .logo {
  padding-block: 50px 40px;
  background: #e8f8f9;
}
#header .nav .logo img {
  margin-inline: auto;
}
#header .nav-close-btn {
  color: hsl(217, 28%, 9%);
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
  font-size: 2.5rem;
  transition: 0.25s ease;
}
#header .nav-close-btn .ion-icon {
  --ionicon-stroke-width: 5.5rem;
}
#header .nav-close-btn:is(:hover, :focus) {
  color: hsl(5, 100%, 69%);
}
#header .nav-list,
#header .nav-actions-list {
  margin: 30px;
}
#header .nav-list {
  padding: 20px;
  border-bottom: 1px solid hsl(0, 0%, 88%);
}
#header .nav-link {
  color: hsl(0, 0%, 27%);
  padding-block: 10px;
  transition: 0.25s ease;
}
#header .nav-link:is(:hover, :focus) {
  color: hsl(5, 100%, 69%);
}
#header .nav-item:not(:last-child) {
  border-bottom: 1px solid hsl(0, 0%, 88%);
}
#header .nav-actions-list li:first-child {
  display: none;
}
#header .action-btn {
  color: hsl(217, 28%, 9%);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-block: 10px;
  transition: 0.25s ease;
}
#header .action-btn:is(:hover, :focus) {
  color: hsl(5, 100%, 69%);
}
#header .action-btn ion-icon {
  font-size: 2.2rem;
  --ionicon-stroke-width: 25px;
}
#header .action-text strong {
  font-weight: initial;
  color: hsl(5, 100%, 69%);
}
#header .action-count {
  margin-inline-start: auto;
  font-size: 1.2rem;
  background: hsl(5, 100%, 69%);
  color: hsl(0, 0%, 100%);
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.25s ease;
}
.overlay.active {
  pointer-events: all;
  opacity: 1;
  visibility: visible;
}

.container {
  padding-inline: 15px;
  width: 100%;
}

.spacing {
  padding-block: 60px;
}

.h1,
.h2,
.h3,
.h4 {
  color: hsl(217, 28%, 9%);
}

.h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.5;
}

.h2 {
  font-size: 2.6rem;
}

.h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.btn {
  background: hsl(5, 100%, 69%);
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  border: 1px solid hsl(5, 100%, 69%);
  transition: 0.25s ease;
}

.btn-primary:is(:hover, :focus) {
  background: hsl(5, 100%, 73%);
  border-color: hsl(5, 100%, 73%);
}

.btn-secondary {
  background: transparent;
  border-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
}

.btn-link {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  margin-inline: auto;
  max-width: -moz-max-content;
  max-width: max-content;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 6px;
  border-bottom: 1px solid hsl(0, 0%, 100%);
}
.btn-link:is(:hover, :focus) {
  border-color: transparent;
}

.btn-secondary:is(:hover, :focus) {
  background: hsla(0, 0%, 0%, 0.1);
  border-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
}

.scrollbar {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: x mandatory;
}
.scrollbar li {
  min-width: 100%;
  scroll-snap-align: start;
}
.scrollbar::-webkit-scrollbar {
  height: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  outline: 2px solid hsl(5, 100%, 69%);
}
.scrollbar::-webkit-scrollbar-thumb {
  background: hsl(5, 100%, 69%);
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 20px;
}
.scrollbar::-webkit-scrollbar-button {
  width: calc(25% - 40px);
}

.card-banner {
  background: hsl(200, 12%, 95%);
  position: relative;
  overflow: hidden;
  height: 350px;
}

.card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  transition: 0.5s ease;
}

.card-badge {
  position: absolute;
  top: 20px;
  left: 20px;
  background: hsl(5, 100%, 69%);
  color: hsl(0, 0%, 100%);
  padding: 5px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  border-radius: 25px;
}

.card-action-list {
  position: absolute;
  top: 20px;
  right: -20px;
  opacity: 0;
  transition: 0.25s ease;
}

.card-action-item {
  position: relative;
}
.card-action-item:not(:last-child) {
  margin-bottom: 10px;
}

.card-tooltip {
  position: absolute;
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
  width: -moz-max-content;
  width: max-content;
  background: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  padding: 4px 8px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  transition: 0.25s ease;
}

.card-action-btn {
  background: hsl(0, 0%, 100%);
  color: hsl(217, 28%, 9%);
  font-size: 18px;
  padding: 10px;
  border-radius: 50%;
  transition: 0.25s ease;
}
.card-action-btn ion-icon {
  --ionicon-stroke-width: 30px;
}
.card-action-btn:is(:hover, :focus) {
  background: hsl(5, 100%, 69%);
  color: hsl(0, 0%, 100%);
}
.card-action-btn:is(:hover, :focus) + .card-tooltip {
  opacity: 1;
}

.product-card:is(:hover, :focus) .card-img {
  transform: scale(1.1);
}
.product-card:is(:hover, :focus) .card-action-list {
  right: 20px;
  opacity: 1;
}

.card-content {
  padding: 24px 15px 0;
  text-align: center;
}

.card-text {
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 27%);
  font-size: 1.4rem;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.product-card .card-title {
  margin-bottom: 8px;
}
.product-card .card-title a {
  color: inherit;
  transition: 0.25s ease;
  text-transform: capitalize;
  padding-block: 4px;
}
.product-card .card-title a:is(:hover, :focus) {
  color: hsl(5, 100%, 69%);
}

.card-price {
  color: hsl(5, 100%, 69%);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

/*
* BANNER
*/
.banner {
  background-image: url("./../images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  min-height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner-title {
  margin-bottom: 10px;
}
.banner-title strong {
  display: block;
}
.banner-text {
  font-family: "Roboto", sans-serif;
  color: hsl(0, 0%, 27%);
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 46ch;
  margin-bottom: 25px;
}

/*
* COLLECTION
*/
.collection-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-block: 45px 25px;
}

/*
* PRODUCT
*/
.product .section-title {
  text-align: center;
  margin-bottom: 25px;
}
.product .filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
}
.product .filter-btn {
  color: hsl(0, 0%, 27%);
  padding: 10px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border: 1px solid hsl(0, 0%, 88%);
  border-radius: 30px;
}
.product .filter-btn.active {
  background: hsl(5, 100%, 69%);
  color: hsl(0, 0%, 100%);
  border-color: hsl(5, 100%, 69%);
}
.product .product-list {
  display: grid;
  gap: 50px 25px;
}

/*
* CTA
*/
.cta-list {
  display: grid;
  gap: 40px;
}
.cta-card--1 {
  background-image: url("./../images/cta-1.jpg");
}
.cta-card--2 {
  background-image: url("./../images/cta-2.jpg");
}
.cta-card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 50px 20px;
}
.cta-card .card-subtitle {
  font-size: 1.8rem;
  margin-bottom: 15px;
}
.cta-card .card-title {
  color: inherit;
  line-height: 1.3;
  margin-bottom: 20px;
}

/*
* SPECIAL
*/
.special-banner {
  height: 500px;
  background-image: url("./../images/special-banner.jpg");
  background-color: rgb(7, 6, 1);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.special .banner-title {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}
.special .section-title {
  margin-block: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.special .section-title .text {
  min-width: -moz-max-content;
  min-width: max-content;
}
.special .section-title .line {
  width: 100%;
  height: 1px;
  background: hsl(0, 0%, 88%);
}

/*
* SERVICE
*/
.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-inline: 30px;
}
.service-item {
  width: 220px;
}
.service-card {
  display: flex;
  align-items: center;
  gap: 15px;
}
.service-card .card-icon {
  background: hsl(5, 100%, 69%);
  min-width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-card img {
  filter: brightness(0) invert(1);
  width: 60%;
  height: auto;
}
.service-card .card-title {
  font-size: 1.6rem;
  margin-bottom: 8px;
}
.service-card .card-text {
  color: hsl(0, 0%, 27%);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}
.service-card .card-text span {
  display: inline-block;
  color: hsl(5, 100%, 69%);
}

/*
* POST
*/
.post-list {
  gap: 0;
}
.scrollbar .post-item {
  min-width: 33.33%;
}
.post-item {
  position: relative;
  aspect-ratio: 1/1;
}
.post-link {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(230, 41%, 14%, 0.6);
  opacity: 0;
  transition: 0.25s ease;
}
.post-link ion-icon {
  color: hsl(0, 0%, 100%);
  font-size: 40px;
}
.post-link:is(:hover, :focus) {
  opacity: 1;
}

/*
* FOOTER
*/
.footer {
  font-family: "Roboto", sans-serif;
}
.footer-top {
  background: hsl(200, 12%, 95%);
}
.footer-brand {
  padding-bottom: 50px;
  border-bottom: 1px solid hsl(0, 0%, 88%);
  margin-bottom: 50px;
}
.footer-brand .logo {
  margin-bottom: 15px;
}
.footer .social-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer .social-link {
  background: hsl(0, 0%, 88%);
  color: hsl(0, 0%, 27%);
  font-size: 20px;
  padding: 10px;
  transition: 0.25s ease;
}
.footer .social-link:hover {
  background: hsl(5, 100%, 69%);
  color: hsl(0, 0%, 100%);
}
.footer .footer-list-title {
  position: relative;
  color: hsl(217, 28%, 9%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 25px;
}
.footer .footer-list-title::after {
  content: "";
  display: block;
  background: hsl(5, 100%, 69%);
  width: 50px;
  height: 2px;
  margin-top: 10px;
}
.footer .footer-list:not(:last-child) {
  margin-bottom: 30px;
}
.footer .footer-list:first-child ion-icon {
  color: hsl(5, 100%, 69%);
  font-size: 22px;
}
.footer .footer-link {
  color: hsl(0, 0%, 27%);
  display: flex;
  align-items: center;
  padding-block: 6px;
  gap: 10px;
  transition: 0.25s ease;
}
.footer .footer-link:hover {
  color: hsl(5, 100%, 69%);
}
.footer .table-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-block: 8px;
}
.footer .table-head {
  color: hsl(217, 28%, 9%);
  font-weight: 500;
}
.footer .table-data {
  color: hsl(0, 0%, 27%);
}
.footer .newsletter-text {
  color: hsl(0, 0%, 27%);
  line-height: 1.7;
  margin-bottom: 20px;
}
.footer .newsletter-form {
  position: relative;
}
.footer .newsletter-form .btn-primary {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  padding-inline: 20px;
}
.footer .newsletter-input {
  background: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 27%);
  padding: 15px 25px;
  padding-right: 120px;
}
.footer .footer-bottom {
  background: hsl(217, 28%, 9%);
  padding-block: 20px;
}
.footer .copyright {
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.footer .copyright-link {
  display: inline-block;
  color: hsl(5, 100%, 69%);
}

/*
* GO TOP
*/
.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: hsl(5, 100%, 69%);
  color: hsl(0, 0%, 100%);
  font-size: 20px;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transform: 0.25s ease;
  z-index: 3;
}
.go-top-btn.active {
  opacity: 0.8;
  visibility: visible;
}
.go-top-btn:hover {
  opacity: 1;
}

/*
* RESPONSIVE
*/
@media screen and (min-width: 575px) {
  .container {
    max-width: 650px;
    width: 100%;
    margin-inline: auto;
  }
  .h1 {
    font-size: 4rem;
  }
  .scrollbar li {
    min-width: calc(50% - 12.5px);
  }
  .banner .banner-text {
    font-size: 1.4rem;
  }
  .product .product-list {
    grid-template-columns: 1fr 1fr;
  }
  .cta .cta-card {
    text-align: left;
  }
  .cta .card-title {
    max-width: 14ch;
  }
  .cta .btn-link {
    margin-inline: 0;
  }
  .post .post-item {
    min-width: 25%;
  }
  .footer .footer-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .footer-brand logo {
    margin-bottom: 0;
  }
  .footer .footer-link-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .h2 {
    font-size: 3rem;
  }
  .h3 {
    font-size: 2.2rem;
  }
  .h4 {
    font-size: 2rem;
  }
  .special .container {
    display: flex;
    gap: 25px;
  }
  .special .scrollbar > li {
    min-width: 100%;
  }
  .special .section-title {
    margin-top: 0;
  }
  .special .special-banner,
  .special .special-product {
    min-width: calc(50% - 12.5px);
  }
  .special .special-banner {
    height: auto;
  }
  .post .post-item {
    min-width: 20%;
  }
  .go-top-btn {
    padding: 15px;
    border-width: 6px;
    bottom: 30px;
    right: 30px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  .scrollbar > li {
    min-width: calc(33.33% - 16.66px);
  }
  #header .nav-open-btn,
  #header .nav-close-btn,
  #header .nav .logo,
  #header .action-text,
  #header .overlay {
    display: none;
  }
  #header .nav,
  #header .nav-list,
  #header .nav-actions-list {
    all: unset;
  }
  #header .nav-item:not(:last-child) {
    border: none;
  }
  #header .nav-list,
  #header .nav-actions-list {
    display: flex;
  }
  #header .nav-actions-list {
    gap: 20px;
  }
  #header .nav-actions-list li:first-child {
    display: block;
  }
  #header .nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  #header .nav-list {
    margin-inline: auto;
    gap: 35px;
  }
  #header .nav-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
  #header .action-btn {
    position: relative;
  }
  #header .action-btn ion-icon {
    --ionicon-stroke-width: 35px;
  }
  #header .action-count {
    position: absolute;
    top: 5px;
    right: -12px;
  }
  .banner {
    height: 400px;
  }
  .product .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .cta .cta-list {
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .cta .cta-card {
    padding-inline: 50px;
  }
  .special .special-banner {
    min-width: calc(33.33% - 25px);
  }
  .special .special-product {
    min-width: 66.66%;
  }
  .special .scrollbar > li {
    min-width: calc(50% - 12.5px);
  }
  .post .post-item {
    min-width: 16.66%;
  }
}
@media screen and (min-width: 1200px) {
  .h1 {
    font-size: 5rem;
  }
  .h2 {
    font-size: 3.6rem;
  }
  .h3 {
    font-size: 2.4rem;
  }
  .container {
    max-width: 1200px;
  }
  .banner {
    height: 500px;
  }
  .banner .container {
    max-width: 1000px;
  }
  .banner .banner-text {
    font-size: 2.4rem;
    max-width: 49ch;
  }
  .product .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
  .special .special-banner {
    min-width: calc(25% - 25px);
  }
  .special .special-product .scrollbar > li {
    min-width: calc(33.33% - 16.66px);
  }
  .service .service-list {
    justify-content: space-between;
    gap: 15px;
    flex-wrap: nowrap;
  }
  .service .service-item {
    width: 275px;
  }
  .service .service-card .card-icon {
    min-width: 70px;
    height: 70px;
  }
  .post {
    padding-bottom: 0;
  }
  .post .post-item {
    min-width: 12.5%;
  }
  .post .post-list {
    padding-bottom: 0;
  }
  .footer .footer-link-box {
    grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
    gap: 50px;
  }
}

/* # sourceMappingURL=style.css.map */