// color
$title-color: hsl(217, 28%, 9%);
$orange: hsl(5, 100%, 69%);
$primary-opacity: hsl(5, 100%, 73%);
$text-color: hsl(0, 0%, 27%);
$grey-light: #f2f3f5;
$white: hsl(0, 0%, 100%);

// font-size
$fz-1: 3rem;
$fz-2: 2.6rem;
$fz-3: 2.2rem;
$fz-4: 2rem;
$fz-5: 1.8rem;
$fz-6: 1.6rem;
$fz-7: 1.4rem;
$fz-8: 1.2rem;
$fz-9: 1rem;

// font-weight
$fw-300: 300;
$fw-500: 500;
$fw-600: 600;
$fw-800: 800;

// text transform
$uppercase: uppercase;
$lowercase: lowercase;
$capitalize: capitalize;
