/*
* FOOTER
*/

.footer {
  font-family: $ff-roboto;

  &-top {
    background: $border-color;
  }

  &-brand {
    padding-bottom: 50px;
    border-bottom: 1px solid hsl(0, 0%, 88%);
    margin-bottom: 50px;

    .logo {
      margin-bottom: 15px;
    }
  }

  .social-list {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .social-link {
    background: hsl(0, 0%, 88%);
    color: $text-color;
    font-size: 20px;
    padding: 10px;
    transition: $transition-1;

    &:hover {
      background: $primary;
      color: $white;
    }
  }

  .footer-list {
    &-title {
      position: relative;
      color: $title-color;
      font-family: $ff-josefin;
      font-size: $fz-3;
      font-weight: $fw-700;
      margin-bottom: 25px;

      &::after {
        content: "";
        display: block;
        background: $primary;
        width: 50px;
        height: 2px;
        margin-top: 10px;
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:first-child {
      ion-icon {
        color: $primary;
        font-size: 22px;
      }
    }
  }

  .footer-link {
    color: $text-color;
    display: flex;
    align-items: center;
    padding-block: 6px;
    gap: 10px;
    transition: $transition-1;

    &:hover {
      color: $primary;
    }
  }

  .table-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding-block: 8px;
  }

  .table-head {
    color: $title-color;
    font-weight: $fw-500;
  }

  .table-data {
    color: $text-color;
  }

  .newsletter-text {
    color: $text-color;
    line-height: 1.7;
    margin-bottom: 20px;
  }

  .newsletter-form {
    position: relative;

    .btn-primary {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      font-family: $ff-josefin;
      font-size: $fz-6;
      font-weight: $fw-600;
      padding-inline: 20px;
    }
  }

  .newsletter-input {
    background: $white;
    color: $text-color;
    padding: 15px 25px;
    padding-right: 120px;
  }

  .footer-bottom {
    background: $title-color;
    padding-block: 20px;
  }

  .copyright {
    text-align: center;
    color: $white;

    &-link {
      display: inline-block;
      color: $primary;
    }
  }
}

/*
* GO TOP
*/

.go-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $primary;
  color: $white;
  font-size: 20px;
  padding: 10px;
  border: 2px solid $white;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transform: $transition-1;
  z-index: 3;

  &.active {
    opacity: 0.8;
    visibility: visible;
  }

  &:hover {
    opacity: 1;
  }
}
